button,
.button,
input::file-selector-button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: rem(8px) rem(16px);
	color: $white;
	background-color: $purple;
	border-radius: rem(24px);
	border: none;
	appearance: none;
	cursor: pointer;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	text-decoration: none;

	&:active {
		transform: translateY(#{rem(2px)});
		transform: scale(0.94444);
	}
}

input::file-selector-button {
	background-color: $darkgrey;
}

.button-big {
	min-width: rem(196px);
	min-height: rem(48px);
	font-size: rem(20px);
}