input[type="file"] {
	max-width: calc(100vw - #{rem(32px)});
}

form > div:not(:last-child) {
	margin-bottom: rem(8px);
}

.form-label {
	font-weight: bold;
}

.form-row {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.form-message {
	padding: 0 rem(8px);
}

.form-message-value {
	font-variant-numeric: tabular-nums;
}