.wrapper {
	max-width: rem(672px);
	margin: auto;
	padding: rem(16px);
}

.screen {
	position: relative;
	margin: 0 0 rem(16px);
	max-width: rem(400px);
	width: calc(100% - #{rem(48px)});
	background-color: $grey;
	border: rem(24px) solid $black;
	border-radius: rem(16px);
	box-sizing: content-box;
}

#preview,
#source {
	width: 100%;
	height: auto;
	aspect-ratio: 400 / 240;
	background-color: $black;
}

#source {
	display: flex;
	position: absolute;
	right: 0;
	top: 0;
	object-fit: cover;
	opacity: 0;
	transition: opacity linear 0.1s;
}

.screen:hover #source {
	opacity: 0.8;
}

#preview {
	display: block;
	opacity: 0.8;
}